.shotmap-root {
	width: 100%;
	height: 100%;
}

.marker-gunshot {
	width: 16px;
	height: 16px;
	border-radius: 9999px;
	background-color: #e11d48; /* rose-600 */
	border: 2px solid #ffffff;
	box-shadow: 0 0 0 2px #e11d48;
}

.marker-mic {
	width: 12px;
	height: 12px;
	border-radius: 9999px;
	background-color: #2563eb; /* blue-600 */
	border: 2px solid #ffffff;
	box-shadow: 0 0 0 2px #2563eb;
}


.marker-place {
	width: 12px;
	height: 12px;
	border-radius: 9999px;
	background-color: green; /* blue-600 */
	border: 2px solid #ffffff;
	box-shadow: 0 0 0 2px green;
}